{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css'%}">
    <title>sign up</title>
</head>
<body>
    <div class="signup-box">
        <h2>Sign up</h2>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="user-box">
                ID : {{form.username}}
            </div>

            <div class="user-box">
                Nick-Name : {{form.nickname}}
            </div>

            <div class="user-box">
                Password : {{form.password1}}
            </div>

            <div class="user-box">
                Password2 : {{form.password2}}
            </div>
            <br>
            <br>
            <input type="submit" value="OK" class="btn1">
            <br>
        </form>
        <a href="{% url 'signin' %}" class="gotosignin">회원가입이 되어있으신가요? sign in</a>
    </div>
</body>
</html>
