<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lobby detail</title>
</head>
<body>
    <h2>Lobby Detail</h2><br></br>
    <h4>제목 : {{lobby.title}}</h4>
    <p>위치 : {{lobby.area}}</p>
    <p>인원 : {{lobby.member_number}}</p>
    <p>내용 : {{lobby.content}}</p>
    {% if lobby.image %}
    <img src="{{ lobby.image.url }}" width = "250" height = "250" alt="image">
    {% endif %}
<br>

    <br>
    <a href="{% url 'lobby_edit' lobby.id %}"> 수정하기</a>
    <a href="{% url 'lobby_delete' lobby.id %}"> 삭제하기</a>
    <br>
    <br>
    <div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a5aac90aa7724ea9468b71fb10a4eeff&libraries=services,clusterer,drawing"></script>
	<script>
		var container = document.getElementById('map');             //지도를 담을 영역의 DOM 레퍼런스   
        var options = {                                             //지도를 생성할 때 필요한 기본 옵션
	        center: new kakao.maps.LatLng(37.48751766104833, 126.82580319260225),   //지도의 중심좌표.
	        level: 3                                    //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options);           //지도 생성 및 객체 리턴

	</script>
    {% for reply in lobby.replys.all %}
        <p>{{ reply.text }}</p>
    {% endfor %}
    <br>
    <form method="POST" action="{% url 'lobby_detail' lobby.id %}">
        {% csrf_token %}
        <p>{{ form.as_p }}</p>
        <input type="submit" value="submit">
    </form>
</body>
</html>